.postTitle {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.mockImage {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.profile-card {
  border-radius: 20px;
  border-color: grey;
  border-width: 5px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 250;
  height: 300;
  padding: 10px;
}

.collectionProfiles {
}
